/* atur ulang margin dan padding agar tidak 
menggunakan style bawaan dari browser  */
*{
	margin:0;
	padding:0;
	font-family:Verdana, Geneva, Tahoma, sans-serif, Courier, monospace, Helvetica, sans-serif;
}
/* background dari desain web berwarna abu-abu */
body{
	background-color:#DDDDDD;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
	cursor: pointer;
}

 #wrapper{
	width : 800px;
	margin: auto; /* auto menyebabkan rata tengah */
	overflow:  /* krn element child ada yg 
						make floating */
}

#header{
	background: url(img/tugu\ jogja.jpg) repeat-x #ddd;
	background-position: center;
	height : 95px;	
	padding:5px;
	margin : 20px 0;
	overflow : initial;
	border-radius: 3px;	
}
#header img{ margin-left:20px; width:40px; }

#menu-utama{
	margin-top:2px;
	list-style:none;
	align-items: center;
	display: flex;
}


@media screen and (max-width: 1280px){
	#wrapper{
		width: 80%;
	}
	#header li, a{
		padding: 3px;
		font-size: 13px;
	}
	#header form{
		margin-top: -50px;
	}
	#daftar-artike{
		width: 100%;
	}
	.artikel img{
		margin-right: 50px;
        width: 70%;
        height: 120px;
	}

@media screen and (max-width: 768){
    #wrapper{
		width: 50%;
	}
	#header li, a{
		padding: 5px;
		font-size: 14px;
	}
    #header img{
        width: 75%;
        height: 130px;
    }
	#header form{
		margin-top: -60px;
	}
	#daftar-artike{
		width: 50%;
    }
	.artikel img{
		margin-right: 5px;
        width:20%;
        height: 25px;
	}
    .artikel b{
        font-size: 12px;
    }
    .artikel p{
        margin:15px 0;
        font-size: 12px;
		width: 50%;
    }
    #header img{
        height: 50px;
        width: auto;
        margin: inherit 10px;
    }
    #sidebar h2{
        font-size:10px;
    }
    #sidebar p{
        line-height:25px;
        font-size: 10px;
    }
}

#menu-utama li{
	float:left;
	padding:8px 20px;
	border-right:50px ;
}

#menu-utama li a{
	color : #ffffff;
	text-decoration:none;
	text-align: center;
	display: block;
	background-color: #ddd;
	color: black;
	padding: 5xp;
}

#header form{
	float:right;
	margin-top:-30px;
	margin-right: 10px;
}

.txtsearch{
	border:none;
	height: 50px;
}

#daftar-artikel{
	width:470px;
	float:left;
}
.artikel{
	background:#ffffff;
	padding:10px;
	margin-bottom:20px;
	overflow:hidden;
}
.artikel img{
	float:left;
	margin-right:10px;
	width:200px;
	height:165px
}

.artikel b{
	color:#616060;
	background:#DDDDDD;
	padding:3px;
	font-size:12px;
	font-weight:bold;
	margin-right:10px;
}

.artikel p{
	margin:10px 0;
	color: #000;
}

.artikel a{
	display:block;
	text-align:right;
	color:#636363;
}

#sidebar{
	width:240px;
	float:right;
}

#sidebar h2{
	font-size:18px;
	margin:10px 0;
	background-color: #ddd;
}

#sidebar p{
	line-height:20px;
	color : black;
	background-color: rgb(233, 255, 189);
}

#sidebar ul li a{
	display: grid;
	color:#636363;
	text-decoration:none;
	cursor: pointer;

}

#sidebar ul {
	margin-left : 25px;
}

#footer{
	clear:both;
	margin:20px 0;
	text-align:center;
	background-color: #f0f0f0;
	padding:5px;
	color:#555555;
}

.form_contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#myform {
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.full-width {
    grid-column: 1 / 2;   
}

#myform label {
  display: block;
}

.form_contact p {
  margin: 0;
}

#myform button,input, textarea {
  padding: 0.5em;
}

button {
  background: lightgrey;
  width: 100%;
  border: 0;
}

button:hover, button:focus {
  background: gold;
  outline: 0;
}

.form_contact input:focus,textarea:focus {
  outline: 3px solid gold;
}

